<h1>{{ section.settings.heading }}</h1>
<img src = "{{ section.settings.image   }}"


{% schema %}
  {
    "name": "One-section",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Main Heading",
        "default":"Main heading"
      },
      {
        "type":"image_picker",
        "id":"image",
        "label":"Add Image"
      }
    ],
    
    "presets":[{
      "category":"One Section",
      "name":"One section"
    }]
  }
{% endschema %}

