<h1>Inside the tryCart page</h1>
<button id="button">Add an Item</button>


<script type="text/javascript">
    jQuery(function() {
        CartJS.init({{ cart | json }});
    });

   $('#button').click(function() {
        CartJS.addItem(8512436928833);
    });
  
</script>